@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		font-family: "Heebo", sans-serif;
		scroll-behavior: smooth;
	}
	html,
	body {
		overflow-x: hidden;
		background-color: rgb(17 24 39);
	}
}

/* ⚠️ CSS optimized for the tutorial, not for expanding to a larger site. ⚠️ */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

svg {
	pointer-events: none;
}

:root {
	/* colors */
	--accent: 183 74% 44%;
	--bkg: 190 60% 98%;
	--text: 185 26% 9%;
	--muted: 183 8% 55%;
	--light: 180 14% 85%;
	--warning: 4 66% 63%;

	/* utils */
	--space-xs: 8px;
	--space-sm: 16px;
	--space-md: 24px;
	--space-lg: 32px;
	--space-xl: 40px;
	--content-sm: 40ch;
	--content: 60ch;
	--round-sm: 4px;
	--round-md: 10px;
	--round-lg: 25px;
	--round-full: 100vmax;

	/* toast customizations */
	--toastify-color-success: hsl(var(--accent));
}

/* color utils */

.accent {
	color: hsl(var(--accent));
}

.muted {
	color: hsl(var(--muted));
}

[hidden] {
	display: none;
}

/* dashboard */
.dashboard {
	display: -ms-grid;
	display: grid;
	gap: var(--space-lg);
	place-items: start;
	width: 100%;
}

.expense-inputs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: var(--space-md);
}

@media screen and (max-width: 725px) {
	.expense-inputs {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

.budget {
	--backdrop: var(--accent);
	color: hsl(var(--backdrop));
}

.progress-text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: var(--space-lg);
}

.progress-text :nth-child(2) {
	text-align: right;
}

/* .progress-text:nth-of-type(2) :nth-child(2) {
	color: hsl(var(--muted));
} */

progress {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	width: 100%;
	height: var(--space-sm);
	border-radius: 100vmax;
	overflow: hidden;
	-webkit-transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
	-o-transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

progress[value]::-webkit-progress-bar {
	background-color: hsl(var(--light));
}

progress[value]::-moz-progress-bar {
	-moz-transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
	background-color: hsl(var(--backdrop));
}

progress[value]::-webkit-progress-value {
	background-color: hsl(var(--backdrop));
	-webkit-transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* error pages */
.error {
	-ms-grid-row-align: center;
	-ms-grid-column-align: center;
	place-self: center;
	display: -ms-grid;
	display: grid;
	place-items: center;
	place-content: center;
	gap: var(--space-lg);
	padding-block: var(--space-lg);
	text-align: center;
}

/* toast */
.Toastify__toast-body {
	font-size: var(--fs-300);
}
